.admin-container {
    display: flex;
    padding-top: 140px;
    min-height: 100vh;
    gap: 30px;
    padding-inline: 5%;
}

.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: rgba(255, 255, 255, 0.02);
    padding: 20px;
    border-radius: 30px;
    border: 1px solid var(--main-color);
    height: fit-content;
}

.side-btn {
    background: transparent;
    color: #fff;
    border: none;
    padding: 15px;
    text-align: right;
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 15px;
    transition: 0.3s;
}

.side-btn.active, .side-btn:hover {
    background: var(--main-color);
    color: #000;
}

.content-area { flex: 4; }

.admin-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: rgba(255, 255, 255, 0.03);
    padding: 40px;
    border-radius: 40px;
    border: 2px solid var(--main-color);
    transition: 0.4s;
}

/* الـ Hover الأحمر المطلوب */
.admin-form:hover {
    border-color: #ff0000 !important;
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.4);
}

.admin-form input, .admin-form select, .admin-form textarea {
    background: #0a0a0a;
    border: 1px solid #333;
    color: #fff;
    padding: 15px;
    border-radius: 12px;
    font-size: 1.5rem;
}

.save-btn {
    background: var(--main-color);
    color: #000;
    font-weight: 800;
    padding: 18px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    font-size: 1.8rem;
}

.save-btn:hover {
    background-color: #ff0000;
    color: #fff;
}
